
<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 3</b></center>    
<pre>

In [ ]:
Doshi Hensi
23010101617

# for and while loop

### 01) WAP to print 1 to 10

In [13]:
for i in range(1,11) :
    print(i);

1
2
3
4
5
6
7
8
9
10

### 02) WAP to print 1 to n

In [15]:
n=int(input("Enter n : "));
for i in range(1,n) :
    print(i);

Enter n :  10

1
2
3
4
5
6
7
8
9

### 03) WAP to print odd numbers between 1 to n

In [24]:
n=int(input("Enter n : "));
for i in range(1,n) :
    if(i%2!=0) :
        print(i);

Enter n :  50

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

### 04) WAP to print numbers between two given numbers which is divisible by 2 but not divisible by 3

In [26]:
a=int(input("Enter a : "));
b=int(input("Enter b : "));
for i in range(a,b) :
    if(i%2==0 and i%3!=0) :
        print(i);

Enter a :  7
Enter b :  21

8
10
14
16
20

### 05) WAP to print sum of 1 to n numbers

In [36]:
n=int(input("Enter n : "));
temp = 0
for i in range(n+1) :
     temp += i
print(temp);

Enter n :  8

36

### 06) WAP to print sum of series 1 + 4 + 9 + 16 + 25 + 36 + ...n

In [38]:
n=int(input("Enter n : "));
i=1;
while(i<=n) :
    print(i*i);
    i+=1;

Enter n :  9

1
4
9
16
25
36
49
64
81

### 07) WAP to print sum of series 1 – 2 + 3 – 4 + 5 – 6 + 7 ... n

In [39]:
n=int(input("Enter n : "));
sum=0;
for i in range(1,n+1) :
    if(i%2==0) :
        sum=sum-i
    else :
        sum=sum+i;
print(sum);

Enter n :  3

2

### 08) WAP to print multiplication table of given number.

In [45]:
n=int(input("Enter n : "));
for i in range(1,n+1) :
    print(n,'*',i,'=',n*i);

Enter n :  10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### 09) WAP to find factorial of the given number

In [47]:
n=int(input("Enter n : "));
fact=1;
for i in range(1,n+1) :
    fact=fact*i;
print(fact);

Enter n :  8

40320

### 10) WAP to find factors of the given number

In [50]:
n=int(input("Enter n : "));
for i in range(1,n+1) :
    if n%i==0 :
        print(i);

Enter n :  7

1
7

### 11) WAP to find whether the given number is prime or not.

In [1]:
n = int(input("Enter n:"));
flag = False;
if num > 1:
    for i in range(2, num) :
        if (num % i) == 0 :
            flag = True;
            break;
if flag :
    print(num, "is not a prime number");
else :
    print(num, "is a prime number");

Enter a number: 7

7 is a prime number

### 12) WAP to print sum of digits of given number

In [74]:
n=int(input("Enter n : "));
sum=0;
for i in range(1,n+1):
    sum=sum+i;
print(sum);

Enter n :  7

28

### 13) WAP to check whether the given number is palindrome or not

In [65]:
n=int(input("Enter n : "));
sum=0;
temp=n;
while n>0 :
    m=n%10;
    sum=(sum*10)+m;
    n=(n/10);
if sum==temp : 
    print("Number is palindrome");
else :
    print("Number is not palindrome");

Enter n :  28

Number is not palindrome

### 01) WAP to check whether the given number is Armstrong or not.

In [66]:
n=int(input("Enter n : "));
sum=0;
temp=n;
while n>0 :
	m=n%10;
	sum=sum+(m*m*m);
	n=n/10;
if sum==temp :
	print("Number is Armstrong");
else :
    print("Number is not Armstrong");

Enter n :  21

Number is not Armstrong

### 02) WAP to find out prime numbers between given two numbers.

In [2]:
a = int(input("Enter Number : "));
b = int(input("Enter Number : "));
if(a>b) :
    temp=a;
    a=b;
    b=temp;
for i in range(a,b) :
    flag=0;
    for j in range(2,i) :
        if(i%j==0) :
            flag=1;
            break;
    if(flag==0) :
        print(i);

Enter Number :  1
Enter Number :  47

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43

### 03) WAP to calculate x^y without using any function.

In [3]:
a=int(input("Enter a : "));
b=int(input("Enter b : "));
power=a**b;
print("Number",a,"Power",b,"is :",power);

Enter a :  5
Enter b :  2

Number 5 Power 2 is : 25

### 04) WAP to check whether the given number is perfect or not.
[Sum of factors including 1 excluding number itself]

In [5]:
n=int(input("Enter n : "));
ans=0;
for i in range(1,n) :
    if(n%i==0) :
        ans+=1;
if(ans==n) :
        print("Perfect");
else :
        print("Not Perfect");

Enter n :  21

Not Perfect

### 05) WAP to find the sum of 1 + (1+2) + (1+2+3) + (1+2+3+4)+...+(1+2+3+4+....+n)

In [9]:
n=int(input("Enter n : "));
ans1=0;
for i in range(1,n+1) :
    ans2=0;
    for j in range(1,i+1) :
        ans2+=j;
    ans1 += ans2;
print(ans1);

Enter n :  56

30856

### 06) WAP to print Multiplication Table up to n

In [10]:
n=int(input("Enter Value : "));
m=int(input("Enter 2nd value: "));
for a in range(1,n+1) :
    print(a,"X 1 =",a*1);
    print(a,"X 2 =",a*2);
    print(a,"X 3 =",a*3);
    print(a,"X 4 =",a*4);
    print(a,"X 5 =",a*5);
    print(a,"X 6 =",a*6);
    print(a,"X 7 =",a*7);
    print(a,"X 8 =",a*8);
    print(a,"X 9 =",a*9);
    print(a,"X 10 =",a*10);
    print(" ");

Enter Value :  2
Enter 2nd value:  1

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20